{% extends 'supervsrindex.html' %}
{% block body %}
<form id="form1" name="form1" method="post" action="/sendcomplaint_post">
<h1 align="center"><b><font color="#060303">Send Complaint</font></b></h1>
  <table width="441" height="171" border="1" class="table table-striped">
    <tr>
      <td><b>Complaint</b></td>
      <td><label>
        <input type="text" name="textfield" />
      </label></td>
    </tr>
    <tr>
      <td colspan="2">
        <div align="center">
            <input type="submit" value="Send" class="btn btn-primary">
          </div>
      </td>
    </tr>
  </table>
</form>
{% endblock %}