{% extends 'supervsrindex.html' %}
{% block body %}
<form id="form1" name="form1" method="post" action="">
  <table width="437" height="133" border="1">
    <tr>
      <td>Reply</td>
      <td><label>
        <input type="text" name="textfield" />
      </label></td>
    </tr>
    <tr>
      <td colspan="2"><label>
        <div align="center">
          <input type="submit" name="Submit" value="Send" />
          </div>
      </label></td>
    </tr>
  </table>
</form>
{% endblock %}
