{% extends 'supervsrindex.html' %}
{% block body %}
<form id="form1" name="form1" method="post" action="">
  <table width="571" height="198" border="1">
    <tr>
      <td colspan="5">Date
        <label>
        <input type="text" name="textfield" />
        <input type="submit" name="Submit" value="Search" />
      </label></td>
    </tr>
    <tr>
      <td>Works</td>
      <td>Details</td>
      <td>Date</td>
      <td>Resources</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td><a href="#">Update</a></td>
    </tr>
  </table>
</form>
{% endblock %}
