{% extends 'adminindex.html' %}
{% block body %}
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <p><a href="/mngsupervsr">Manage supervisor</a></p>
  <p><a href="/Verifyworker">Manage worker</a></p>
  <p><a href="/viewresources">View resources</a></p>
  <p><a href="/assignworks">Manage Works</a></p>
  <p><a href="/sendcoomplaintandviewreply">Manage complaints</a></p>
  <p><a href="#">Chat</a></p>
  <p><a href="#">View forecasting</a></p>
  <p><a href="/viewfeedbck">View feedback</a></p>
  <p><a href="#">Logout</a></p>
</form>
</body>
{% endblock %}